WPFWCFsln/WPFClientWCF/Connected Services/ClientWCFServiceReference/Servicewcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1258/Servicewcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceWCF" />
  <xs:element name="GetFolders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="GetFoldersResult" nillable="true" type="q1:ArrayOfClientFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaleFolders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaleFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="GetMaleFoldersResult" nillable="true" type="q2:ArrayOfClientFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientFolder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyClientFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="origin" nillable="true" type="q3:ClientFolder" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="folder" nillable="true" type="q4:ClientFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyClientFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyClientFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceWCF" minOccurs="0" name="folder" nillable="true" type="q5:ClientFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClientFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>